.feedback {
  background-color: $color-product-bg;
  padding: 80px 40px;
  border-radius: 20px;
  margin-top: 120px;
  font-family: sans-serif;
  padding-bottom: 120px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
  }

  &__info {
    flex: 1;

    .feedback__title {
      color: $color-white;
      font-size: 36px;
      line-height: 1.2;
      font-weight: 600;
      margin-bottom: 24px;
      max-width: 450px;
    }

    .feedback__subtitle {
      color: $color-text-gray;
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;

    .form-group {
      width: 100%;

      .form-input {
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        padding: 12px 0;
        color: $color-white;
        font-size: 16px;
        outline: none;
        transition: $transition;

        &::placeholder {
          color: $color-text-gray;
        }

        &:focus {
          border-bottom-color: $color-white;
          transform: translateY(-2px);
        }
      }
    }

    .btn-submit {
      width: fit-content;
      background-color: $color-white;
      color: #000;
      border: none;
      padding: 14px 45px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      margin-top: 10px;
      transition: $transition;

      &:hover {
        background-color: $color-background;
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }
}
