h1 {
  font-size: 40px;
  margin-bottom: 60px;
  line-height: 1.2;
}

.our-benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  a {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: $color-black;
    background-color: $color-background;
    padding: 24px;
    min-height: 100px;
    border-radius: 8px;
    transition: $transition;
    max-width: 400px;
    width: 100%;
    flex-shrink: 0;
    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      text-align: left;
    }

    img {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
    }

    h6 {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
      color: $color-text-gray;
    }

    &:hover {
      background-color: #ffffff;
      box-shadow: 14px 19px 84px -13px rgba(34, 60, 80, 0.2);
      outline: 1px solid #e0e0e0;
    }
  }
}
