.product-card {
  display: flex;
  justify-content: space-between;
  background: $color-product-bg;
  border-radius: 18px;
  padding: 24px 40px;
  padding-bottom: 24px;
  color: $color-white;
}
.product-left {
  width: 50%;
}
.product-title {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.product-info {
  margin-bottom: 30px;
  .row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid $color-border-light;
    font-size: 15px;
    color: $color-product-text-light;
  }
}
.product-price {
  font-size: 28px;
  font-weight: bold;
  margin: 30px 0;
}
.product-right {
  width: 45%;
  background: $color-white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 100%;
    height: 300px;
  }
}
